<nav>
  <ul>
    <li><%= link_to '<', user_groups_path(@user), :class=>'navBtn' %></li>
    <li><p>ACCOUNT</p></li>
    <li><%= button_to '|->', destroy_user_session_path, :class=>'logout', method: :delete %></li>
  </ul>
</nav>
<section class='userDetails'>
  <h4>Hello</h4>
  <h2><%= @user.name %></h2>
  <br>
  <p>iPay for you</p>
  <p>Keeping a look at your payments made easy</p>
  <br>
  <p>Thank you for using our app.</p>
</section>